
// colors
$default-gray: #e7e7e7;
$blue: #2c3f52;
$dark-blue: #21303e;
$pink: #ed4e6e; 


// hardware accleration

.gpu {
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);

   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;

   // -webkit-transform: translateZ(0);
   // -moz-transform: translateZ(0);
   // -ms-transform: translateZ(0);
   // -o-transform: translateZ(0);
   // transform: translateZ(0);
}




