// RED COLOR VARIABLES
// #b71b1e - red color used on old site.
// #a81b11 - red color picked from ps.
// #C90000 - red color from chrome dev.


// colors
$red: #b71b1e;
$white: #FFFFFF;
$grey: #f4f4f4;
$dark-grey: #8F8F8F;


// breakpoints
@mixin breakpoint($point) {
  @if $point == lrg {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == med {
    @media (max-width: 959px) { @content; }
  }
  @else if $point == sml {
    @media (max-width: 767px)  { @content; }
  }
}