@font-face {
	font-family: 'wvb';
	src:url('fonts/wvb.eot');
	src:url('fonts/wvb.eot?#iefix') format('embedded-opentype'),
		url('fonts/wvb.woff') format('woff'),
		url('fonts/wvb.ttf') format('truetype'),
		url('fonts/wvb.svg#wvb') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'wvb';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-view-work {
	font-family: 'wvb';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-view-work:before {
	content: "\53";
}
