
 /* === V3 Body Globals ================================================================== */

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

html, body {
	height: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

a:focus {
	outline: none;
}

::selection {
	color: #fff;
	background: $pink;
	text-shadow: none;
}

::-moz-selection {
	color: #fff;
	background: $pink;
	text-shadow: none;
}  


 /* === V3 Typography Globals ================================================================== */

p {
	margin: 0px;
	padding: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
}


 /* === V3 Base Page Globals ================================================================== */

// white page borders

// left + right
 #left, #right, #top, #bottom {
 	background: #FFF;
 	position: fixed;
 }

 #left, #right {
 	top: 0;
 	bottom: 0;
 	width: 0px;
 	z-index: 1000;
 	@include transition(width 0.5s 0.5s);
 }

 #left.animate, #right.animate {
 	width: 18px;

 	@media (max-width: 768px) {
 		width: 0px;
 	}
 }

 #left {
 	left: 0;
 }

 #right {
 	right: 0;
 }


// top + bottom
#top, #bottom {
	left: 0;
 	right: 0;
 	height: 0px;
 	z-index: 1000;
 	@include transition(height 0.5s 0.5s);	
}

#top.animate, #bottom.animate {
 	height: 18px;

 	@media (max-width: 768px) {
 		width: 0px;
 	}
 }

#top {
	top: 0;
}

#bottom {
	bottom: 0;
}


// main page background - adjust background color for individual pages in seperate style.
.page-background {
	background: $default-gray;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
}


// main container
.main-container {
	margin: 80px auto;
	//width: 90%;
}







