
#intro-page {

	// page background
	.page-background {
		background: $blue; // fallback color
		@include background( // textured blue background
			url(img/bkgd/bkgd-noise.png),
			radial-gradient(rgba(57, 81, 105, 0.7), rgba(0,0,0,0) 40%),
			radial-gradient(rgba(0,0,0,0), $dark-blue),
			url(img/intro/tile8.png) repeat-x center top, // adjust for browser sizes
			#304355);
	} // end page-background


	// centering page content
	.centering-block {
		text-align: center;
		height: 100%;
		overflow: auto;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			//margin-right: -0.25em; // adjust for spacing
		}
	}

	.centered-content {
		display: inline-block;
		vertical-align: middle;
		padding: 30px 0 50px 0;
		width: 95%;

		// content  289 x 354
		.intro-logo {
			position: relative;
			background: url(img/intro/blank-paper.png) no-repeat center 0;
			width: 289px;
			height: 354px;
			margin: 0 auto;

			@media (max-width: 520px) {
				display: none;
			}

			// 125 x 180
			.wren-logo {
				background: url(img/intro/logo.png) no-repeat center center;
				width: 125px;
				height: 180px; 
				position: absolute;
				top: 66px;
				left: 82px;
				@include opacity(1);
				@include transition(all 0.4s);

			}

			.wren-logo.fadeOut {
				@include opacity(0);
				@include transition(all 0.2s);
			}

			// 177 x 176
			.artwork-circle {
				background: url(img/intro/artwork.png) no-repeat center center;
				width: 177px;
				height: 176px; 
				position: absolute;
				top: 110px;
				left: 57px;
				@include opacity(0);
				@include transition(all 0.4s);

				span {
					position: relative;
					top: 0px;
					color: $blue;
					@include opacity(0);
					@include transition(all 0.3s);
				}
			}

			.artwork-circle.hoverIn {
				top: 75px;
				@include opacity(1);
				@include transition(all 0.2s);

				span {
					position: relative;
					top: -32px;
					color: $blue;
					@include opacity(0.7);
					@include transition(all 0.3s);
				}
			} 

			// 177 x 176
			.about-circle {
				background: url(img/intro/face2.png) no-repeat center center;
				width: 177px;
				height: 176px; 
				position: absolute;
				top: 110px;
				left: 57px;
				@include opacity(0);
				@include transition(all 0.4s);

				span {
					position: relative;
					top: 0px;
					color: $blue;
					@include opacity(0);
					@include transition(all 0.3s);
				}
			}

			.about-circle.hoverIn {
				top: 75px;
				@include opacity(1);
				@include transition(all 0.2s);

				span {
					position: relative;
					top: -32px;
					color: $blue;
					@include opacity(0.7);
					@include transition(all 0.3s);
				}
			}

			// 177 x 176
			.connect-circle {
				background: url(img/intro/connect.png) no-repeat center center;
				width: 177px;
				height: 176px; 
				position: absolute;
				top: 110px;
				left: 57px;
				@include opacity(0);
				@include transition(all 0.4s);

				span {
					position: relative;
					top: 0px;
					color: $blue;
					@include opacity(0);
					@include transition(all 0.3s);
				}
			}

			.connect-circle.hoverIn {
				top: 75px;
				@include opacity(1);
				@include transition(all 0.2s);

				span {
					position: relative;
					top: -32px;
					color: $blue;
					@include opacity(0.7);
					@include transition(all 0.3s);
				}
			}  

		} // end centered content

		#intro-fade {
			@include opacity(0);
			@include transform(translateY(15px));
			@include transition(all 1s 0.5s);
		}

		#intro-fade.animate {
			@include transform(translateY(0px));
			@include opacity(1);
		}

		h1 {
			font-size: 48px;
			font-weight: 700;
			letter-spacing: 3px;
			margin: 22px 0 4px 0;
			color: #fff;
			text-shadow: 0px 0px 17px rgba(0,0,0,0.3);
			@include opacity(0.8);

			@media (max-width: 600px) {
				font-size: 32px;
			}

			@media (max-width: 420px) {
				font-size: 23px;
			}
		}

		.sub-heading {

			// subtitle text
			p span {
				text-transform: uppercase;
				font-size: 20px;
				font-weight: 300;
				letter-spacing: 2.5px;
				color: #fff;
				@include opacity(0.6);

				@media (max-width: 600px) {
					font-size: 16px;
				}

				@media (max-width: 420px) {
					font-size: 14px;
				}
			}

			// right and left border lines
			.subtitle span {
				display: inline-block;
				position: relative;
			}

			.subtitle span:before,
			.subtitle span:after {
				content: '';
				position: absolute;
				height: 5px;
				border-top: 1px solid #fff;
				top: 13px;
				width: 150px;

				@media (max-width: 600px) {
					width: 100px;
					top: 10px;
				}

				@media (max-width: 420px) {
					width: 60px;
				}

				@media (max-width: 245px) {
					width: 10px;
				}
			}

			.subtitle span:before {
				right: 100%;
				margin-right: 15px;
			}

			.subtitle span:after {
				left: 100%;
				margin-left: 10px;
			}

		} // end subtitle / subhead

		nav.intro-nav {
			
			ul {
				margin: 60px 0 0 0;

				@media (max-width: 768px) {
					margin-top: 55px;
				}

				@media (max-width: 520px) {
					margin-top: 58px;
				}

				li {
					display: inline-block;
					margin-right: 80px;
					@include transition(transform 0.2s);

					@media (max-width: 768px) {
						display: block;
						margin: 0 0 50px 0;
					}

					&:hover {
						@include transform(translateY(5px));
					}
				
					&:last-child {
						margin-right: 0px;
					}

					a {
						color: #fff;
						font-size: 16px;
						font-weight: 300;
						letter-spacing: 2px;
						text-decoration: none;
						text-transform: uppercase;
						padding: 11px 42px;
						border: 1px solid #fff;
						box-shadow: 0 0 0 rgba(0,0,0,0.2);
						@include opacity(0.5);
						@include background(linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 50%, #fff 50%, #fff));
						background-size: 100% 200%;
						@include transition(all 0.2s ease);

						@media (max-width: 768px) {
							padding: 11px 20%;
						}

						&:hover {
							background-position: 100% 100%;
							color: $blue;
							box-shadow: 0 0 17px rgba(0,0,0,0.4);
							@include opacity(0.85);
						}

					} // end a tag

				}
			}	
		} // end nav

		.copyright {
			position: relative;
			margin-top: 60px;
			//display: none;
			color: #fff;
			font-size: 10px;
			@include opacity(0.4);

			@media (max-width: 520px) {
				margin-top: 50px;
			}
		}

	}
	// end centering page content

	

} // end intro page








