
.module {
	background: #fff;
	width: 250px;
	height: auto;
	padding: 10px 10px 5px 10px;
	margin: 0 21px 21px 0;
	overflow: hidden;
	@include box-shadow(rgba(0,0,0,0.2) 0 0 7px 1px);

	a {
		margin: 0;
		padding: 0;
	}

	img {
		width: 100%;
		height: auto;
		margin: 0;
	}

	.caption-hover {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		margin: 0 0 0 0;
		padding: 20px;
		background: #2c3f52;
		color: #ed4e6e;
		opacity: 1;
		@include transform(translateY(100%));
		@include transition(transform 0.3s, opacity 0.3s);

		h3 {
			margin: 0;
			padding: 0;
			color: #fff;
		}

		p {
			font-size: 12px;
			text-transform: none;
			font-weight: 700;
		}

		p.category:before {
			content: "category: ";
			color: #fff;
			font-size: 12px;
			font-weight: 300;
			text-transform: none;
		}

		p.year:before {
			content: "year: ";
			color: #fff;
			font-size: 12px;
			font-weight: 300;
			text-transform: none;
		}

		.view-work {
			position: relative;
			margin-top: 25px;
			text-align: center;
			padding: 5px 10px;
			border-radius: 2px;
			background: #ed4e6e;
			color: #fff;

			span {
				position: absolute;
				margin-top: 1.25px;
				margin-left: -20px
			}
		}
	}

	&:hover {

		.caption-hover {
			opacity: 0.95;
			@include transform(translateY(0%))
		}

	} // end hover
}

