
#single-artwork-page {

	#top, #left, #right, #bottom {
		display: none;
		//z-index: 1300;
	}

	// page background
	.page-background {
		@include background( // textured background
			url(img/bkgd/bkgd-noise.png));
	} // end page-background



	.single-view {
		width: 90%;
		max-width: 1100px;
		margin: 0 auto;
		background: #fff;
		padding: 27px 27px 28px;
		box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);

		.main-image {
			width: 60%;
			float: left;

			@media (max-width: 769px) {
				width: 100%;
			}

			img {
				width: 100%;
				//min-width: 230px;
				//max-width: 450px;
				height: auto;
				margin: 0 0 0 0;
				padding: 0 25px 0 0;

				@media (max-width: 769px) {
					padding: 0 0 25px 0;
				}	
			}


		} // end img

		.artwork-info {
			width: 40%;
			float: right;

			@media (max-width: 769px) {
				width: 100%;
			}

			.title {
				color: $blue;
				margin: -6px 0 12px 0;
				font-size: 32px;
				font-weight: 700;
				letter-spacing: 1.5px;
				@include opacity(0.9);
			}

			hr {
				color: $blue;
			}

			.description {
				text-align: left;
				color: $blue;
				font-size: 16px;
				font-weight: 400;
				line-height: 26px;
				margin: 10px 0 20px 0;
				@include opacity(0.9);
			}

			ul {
				color: $blue;
				@include opacity(0.9);

				li {
					list-style: none;
					margin: 0 0 5px 0;

					p {

						strong {
							//text-transform: uppercase;
							font-size: 14px;
							//@include opacity(0.6);
						}
					}
				}
			}
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}

	} // end single view

	.more-works {
		text-align: center;
		width: 90%;
		margin: 45px auto 0 auto;

		ul {
			margin: 0;
			padding: 0;

			li {
				list-style: none;
				display: inline-block;
				margin-right: 10%;
				text-indent: -9999px;

				&:last-child {
					margin-right: 0;
				}

				strong	{

					a {
						display: block;
						width: 38px;
						height: 38px;
						background: url(img/bkgd/controls.png) no-repeat 0 0;
						width: 38px;
						height: 38px;
						text-indent: -99999px;
						@include opacity(0.3);
					}

				}
			}
		}

		.previous-post {
			background-position: 0px -4px;
			@include transition(all 0.2s);

			&:hover {
				background-position: 0px -51px;
				@include opacity(0.6);
			}	
		}

		.index {
			background-position: -51px -4px;
			@include transition(all 0.2s);

			&:hover {
				background-position: -51px -51px;
				@include opacity(0.6);
			}
		}

		.next-post {
			background-position: -100px -4px;
			@include transition(all 0.2s);

			&:hover {
				background-position: -100px -51px;
				@include opacity(0.6);
			}	
		}

	}  // end meta links


	#single-fade {
		@include opacity(0);
		@include transform(translateY(15px));
		@include transition(all 1s 0.5s);
	}

	#single-fade.animate {
		@include transform(translateY(0px));
		@include opacity(1);
	}


	// copyright
	.copyright {
		text-align: center;
		margin-top: 100px;
		@include opacity(0.5);
		font-size: 12px;
		//display: none;
	}

} // end artwork-page



// filtering nav bar / btn
.filter-bar {
	position: fixed;
	top: 22px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: $blue;
	z-index: 800;
	//box-shadow: 0 0 10px rgba(0,0,0,0.2);

	.filter-btn {
		cursor: pointer;
		position: relative;
		margin-top: 18px;
		margin-left: 23px;
		background: $blue;
		width: 155px;
		height: 60px;
		border-radius: 0 0 10px 10px;
		//box-shadow: 0 0 10px rgba(0,0,0,0.2);
		@include transition(all 0.2s);

		&:hover {
			margin-top: 25px;
		}

		p {
			position: relative;
			display: inline;
			color: #fff;
			top: 15px;
			left: 20px;
			font-size: 12px;
			letter-spacing: 1px;
			@include opacity(0.8);
		}

		span.arrow {
			position: relative;
			top: 32.5px;
			left: 26px;
			width: 0; 
			height: 0; 
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid #fff;
			@include opacity(0.8);
		}
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}

} // end filter bar

// roll in filter bar
#filtering-bar {
	@include transform(translateY(-65px));
}

#filtering-bar.active {

}


// filtering screen
.filter-screen {
	display: none;
	position: fixed;
	//background: $blue;
	background: $blue; // fallback color
		@include background( // textured blue background
			//url(img/bkgd/bkgd-noise.png),
			//radial-gradient(rgba(57, 81, 105, 0.7), rgba(0,0,0,0) 40%),
			radial-gradient(rgba(0,0,0,0), $dark-blue),
			$blue);
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1200;
	@include opacity(0.92);
	//@include transform(translateY(-1200px));


	// centering page content
	.centering-block {
		text-align: center;
		height: 100%;
		overflow: auto;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			//margin-right: -0.25em; // adjust for spacing
		}
	}

	.centered-content {
		//position: relative;
		display: inline-block;
		vertical-align: middle;
		padding: 30px 0 50px 0;
		width: 95%;

		p {
			color: #fff;
			font-weight: 300;
			@include opacity(0.9);
		}

		.page-return {
			margin-top: 8px;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #fff;
			font-weight: 300;
			@include opacity(0.7);
		}

		.return-link {
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #fff;
			font-weight: 300;
			text-decoration: underline;
			@include opacity(0.7);
			@include transition(all 0.2s);

			&:hover {
				@include opacity(0.9);
				text-decoration: none;
			}	
		}

		p.exit {
			cursor: pointer;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #fff;
			font-weight: 300;
			@include opacity(0.7);
			@include transition(all 0.2s);

			&:hover {
				@include opacity(0.9);
			}
		}

		nav.filter-nav {
			
			ul {
				margin: 60px 0 0 0;

				@media (max-width: 768px) {
					margin-top: 55px;
				}

				@media (max-width: 520px) {
					margin-top: 58px;
				}

				li {
					//display: inline-block;
					//margin-right: 80px;
					display: block;
					margin: 0 0 60px 0;
					@include transition(transform 0.2s);

					@media (max-width: 768px) {
						display: block;
						margin: 0 0 50px 0;
					}

					&:hover {
						@include transform(translateY(5px));
					}
				
					&:last-child {
						margin-right: 0px;
					}

					a {
						color: #fff;
						font-size: 16px;
						font-weight: 300;
						letter-spacing: 2px;
						text-decoration: none;
						text-transform: uppercase;
						//padding: 11px 42px;
						padding: 11px 20%;
						border: 1px solid #fff;
						box-shadow: 0 0 0 rgba(0,0,0,0.2);
						@include opacity(0.6);
						@include background(linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 50%, #fff 50%, #fff));
						background-size: 100% 200%;
						@include transition(all 0.2s ease);

						@media (max-width: 768px) {
							padding: 11px 20%;
						}

						&:hover {
							background-position: 100% 100%;
							color: $blue;
							box-shadow: 0 0 17px rgba(0,0,0,0.4);
							@include opacity(0.85);
						}

					} // end a tag

					a.selected {
						background: $pink;

						&:hover {
							background: $pink;
							color: #fff;
							@include opacity(0.6);
						}
					}

				}
			}	
		} // end nav

	} // end centered content



} // end filtering screen


















